.navbar {
  padding: 20px 0;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links a {
  text-decoration: none;
  color: var(--color-text-green);
  font-size: 20px;
  font-weight: 550;
}

