@import "./tokens.css";
@import "./typography.css";

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-text-black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  box-sizing: border-box;
}

@media (min-width: 800px) {
  .container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
