:root {
  /* colors */
  --color-primary: #8b5a47;
  --color-secondary: #494B3A;
  
  /* background colors */
  --color-background: #f1f1eb;
  --color-background-secondary: #F5F6F3;
  --color-background-dark: #BABBA6;
  
  /* text colors */
  --color-text-black: #000000;
  --color-text-white: #ffffff;
  --color-text-green: #494b3a;

  /* spacing */
  --space-xs: 5px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;

  /* radius */
  --radius-sm: 4px;
  --radius-md: 8px;
}