:root {
  /* colors */
  --color-primary: #8b5a47;
  --color-secondary: #494b3a;

  /* background colors */
  --color-background: #f1f1eb;
  --color-background-dark: #babba6;
  --color-background-light: #f9f7f5;
  /* text colors */
  --color-text-black: #000000;
  --color-text-white: #ffffff;
  --color-text-green: #494b3a;

  /* spacing */
  --space-xs: 5px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 42px;

  /* radius */
  --radius-sm: 4px;
  --radius-md: 8px;
}