:root {
  --font-family-base: playfair-display, serif;

  --text-sm: 14px;
  --text-md: 24px;
  --text-lg: 40px;
  --text-xl: 75px;
}

h1 {
  margin: 0 0 var(--space-lg) 0;
  font-size: var(--text-xl);
  color: var( --color-text-green);
  font-weight: lighter;
}

h2 {
  margin: 0 0 var(--space-md) 0;
  font-size: var(--text-lg);
  color: var( --color-text-green)
}

h3 {
  margin: 0 0 var(--space-md) 0;
  font-size: var(--text-md);
  color: var( --color-text-green)
}