.button {
  padding: var(--space-sm) var(--space-md);
  border: none;
  cursor: pointer;
  font-family: var(--font-family-base);
}

.primary {
  background: var(--color-primary);
  color: var(--color-text-white);
}

.secondary {
  background: var(--color-secondary);
  color: var(--color-text-white);
}

.outlined {
  background: transparent;
  color: var(--color-secondary);
  border: 2.5px solid var(--color-secondary);
  font-weight: 550;
}

.xs {
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--text-xs);
  border-radius: var(--radius-sm);
  margin: var(--space-sm) 0 var(--space-sm) 0;
}

.sm {
  padding: var(--space-sm) var(--space-md);
  font-size: var(--text-xs);
  border-radius: var(--radius-sm);
  margin: var(--space-sm) 0 var(--space-sm) 0;
}

.md {
  padding: var(--space-md) var(--space-md);
  font-size: var(--text-sm);
  border-radius: var(--radius-sm);
  margin: var(--space-md) 0 var(--space-md) 0;
}

.lg {
  padding: var(--space-md) var(--space-lg);
  font-size: var(--text-lg);
  border-radius: var(--radius-md);
  margin: var(--space-lg) 0 var(--space-lg) 0;
}