.container {
  background-color: var(--color-background-light);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-xl);
  text-align: left;
  gap: var(--space-md);
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-lg);
  width: 100%;
}

.underline {
  width: 100px;
  height: 2.5px;
  background-color: var(--color-secondary);
  margin-top: -0.5rem;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

@media (min-width: 800px) {
  .content {
    flex-direction: column;
    gap: var(--space-lg);
  }

  .intro {
    width: 80%;
  }
}
