.container {
  background-color: var(--color-background-secondary);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--space-lg);
  text-align: left;
  gap: var(--space-md);
}

.content {
  display: flex;
  flex-direction: column;
}

.underline {
  width: 100px;
  height: 4px;
  background-color: var(--color-primary);
  margin-top: -0.5rem;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

@media (min-width: 800px) {
  .content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .intro {
    flex: 1;
  }
}
